<h1 class="title animated jackInTheBox">{{ pageTitle }}</h1>

<div class="animated flipInX" *ngIf="mode === 'list'">
  <ul>
    <p class="text-center" *ngIf="todoList.length < 1"><small>Nenhuma tarefa hoje!</small></p>
    <li *ngFor="let item of todoList">
      <span>{{ item.title }}</span>
      <span *ngIf="!item.done">
        <button type="button" (click)="markAsDone(item)">
          <i class="far fa-check-circle"></i>
        </button>
      </span>
      <span *ngIf="item.done">
        <button type="button" (click)="markAsUndone(item)">
          <i class="fas fa-check-circle"></i>
        </button>
      </span>
      <span>
        <button type="button" (click)="remove(item)">
          <i class="far fa-trash-alt"></i>
        </button>
      </span>
    </li>
  </ul>
</div>

<div id="modal" *ngIf="mode === 'add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="todoForm">
    <input type="text" name="title" id="title" formControlName="title" placeholder="Informe sua tarefa...">
    <span class="danger" *ngIf="(todoForm.controls.title.invalid) && (!todoForm.controls.title.pristine)">
      <small>O título deve ter entre 3 e 60 caracteres</small>
      <br>
    </span>
    <p class="text-center">
      <button type="button" class="button" [disabled]="todoForm.invalid" (click)="add()"><i class="fas fa-save"></i>
        Salvar</button>
    </p>
  </form>
  <br>
  <br>
</div>

<button type="button" class="add-button button animated fadeInUp" *ngIf="mode === 'list'" (click)="changeMode('add')"><i
    class="fas fa-plus-circle"></i> Nova Tarefa</button>
<button type="button" class="add-button button animated fadeInUp" *ngIf="mode === 'add'" (click)="changeMode('list')"><i
    class="fas fa-times"></i> Cancelar</button>

<router-outlet></router-outlet>
